*.iml
.gradle
/local.properties
/.android-sdk/
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/

*.jks
*.keystore
/signing/
.kotlin/
